/* Globais */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* outline: 1px solid blue; */
  font-family: Arial, Helvetica, sans-serif;
  list-style: none;
  color: floralwhite;
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}

body {
  color: rgb(249, 243, 240);
  min-height: 100vh;
  background-color: #1c1e23 !;
  display: flex;
}

.container_nome_cargo {
  padding-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container_nome_cargo h3 {
  font-size: 16px;
}

.container_nome_cargo p {
  font-size: 12px;
  color: #5a697f;
}

.perfil img {
  width: 45px;
  height: 45px;
  border-radius: 100px;
}

.container_texto p {
  font-size: 14px;
  padding-top: 3px;
}

.container_texto p a:hover {
  color: #5447c8;
}

.container_header {
  display: flex;
  justify-content: space-between;
}

.botoes {
  display: flex;
  gap: 20px;
  width: min-content;
  align-self: flex-end;
  width: fit-content;
  padding-bottom: 25px;
  padding-right: 30px;
}

#btn_cadastrar_componente {
  margin-top: 0;
  margin-bottom: 34px;
}

.hiddenComponente button:first-child,
.container_header button:first-child,
.hidden_form button:first-child,
.hidden_confirmacao button:first-child,
.hiddenComputador button:first-child,
#btn_atualizacao {
  height: 32px;
  width: 120px;
  font-size: 17px;
  border-radius: 3px;
  cursor: pointer;
  border: none;
  background-color: rgb(232, 28, 93);
}

.hiddenComponente button:nth-child(2),
.container_header button:nth-child(2),
.hidden_form button:nth-child(2),
.hidden_confirmacao button:nth-child(2),
.hiddenComputador button:nth-child(2) {
  height: 32px;
  width: 120px;
  font-size: 17px;
  border: 1px solid grey;
  border-radius: 3px;
  cursor: pointer;
  color: rgb(179, 9, 88);
}

.hiddenComponente button:hover,
.container_header button:hover,
.hidden_form button:hover,
.hidden_confirmacao button:hover,
.hiddenComputador button:hover {
  background-color: rgba(57, 57, 57, 0.329);
  color: floralwhite;
  transition: ease 0.1s;
  border: none;
}

#confirma_delet {
  background-color: rgb(232, 28, 93)
}

#confirma_delet:hover {
  background-color: rgb(218, 124, 154);
  border: 1px solid #1c1e2300;
  color: floralwhite;
  transition: ease 0.1s;
}

/* #exibirUsuarios div {
    display: flex;
    align-items: center;
    max-width: 350px;
    justify-content: space-between;
    padding: 3px 0;
} */

.lista {
  display: flex;
  flex-wrap: wrap;
  column-gap: 30px;
  row-gap: 30px;
  justify-content: center;
  padding: 40px;
}

#exibirUsuarios a img {
  width: 20px;
}

.lista img {
  width: 25px;
}

.lista img:last-child {
  height: 33px;
  margin-bottom: -6px;
}

.gerenciar {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}

.gerenciar img {
  cursor: pointer;
}

th,
td {
  text-align: start;
  padding: 5px 0;
  padding: 5px;
}

table {
  /*border: 2px solid floralwhite;*/
  border-radius: 5px;
  /*margin-top: 50px;*/
  width: 85%;
}

th,
td {
  border-bottom: 1px solid #131418;
}


.hiddenComponente button,
.hiddenComputador button {
  margin-top: 30px;
}

.container_maquina,
.containerComponente {
  display: flex;
  padding-top: 30px;
  align-items: center;
  padding-bottom: 30px;
  max-width: 500px;
  width: 100%;
  flex-direction: column;
}

/* .form_maquina {
  width: 100%;
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
} */
.form_maquina {
  display: flex;
  /* gap: 32px; */
  padding: 30px 0;
  position: relative;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.form_maquina_componente {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 30px 10px;
  align-items: center;
  cursor: default;
}

#texto_recomendacao {
  color: black;
  max-width: 100%;
}

.left {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  /*align-items: center;*/
  width: 400px;
  gap: 25px;
  padding: 0px 30px;
}


.right {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: start;
  width: 50%;
  padding-left: 30px;
}

.divComponentes:nth-child(1) {
  grid-area: cpu;
}

.divComponentes:nth-child(2) {
  grid-area: temp;
}

.divComponentes:nth-child(3) {
  grid-area: ram;
  margin-bottom: 32px;
}

.componente_left {
  display: flex;
  height: 100%;
  grid-template-areas: "cpu temp"
    "ram ram";
  ;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 42px;
}

/* 
.divComponentes:nth-child(3) {
  align-self: center;
} */

.divComponentes {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.tituloComponentes {
  height: 33.3%;
}

.chkComponentes {
  height: 33.3%;
  display: flex;
  gap: 10px;
  color: rgb(57, 57, 66) !important;
}

.setorCard {
  font-size: 13.5px;
  color: #53537a;
  font-weight: 100;
}


.componente_right {
  height: 100%;
  width: 100%;
}

.container_componente_right {
  position: relative;
  max-width: 100%;
}

.containerChecked {
  display: flex;
  gap: 25px;
}

.containerCheckedRAM {
  display: flex;
  gap: 25px;

}



.input_right_maquina {
  width: 50%;
  display: block;
  height: 25px;
  border-radius: 5px;
  padding-left: 5px;

}

.hidden_form {
  display: flex;
  flex-direction: row !important;
  padding-bottom: 20px;
}

.hidden_form,
.hidden_confirmacao,
.hiddenComputador,
#hiddenComponente {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 30px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: rgb(57, 57, 66) !important;
  background-image: linear-gradient(to right bottom, rgba(203, 202, 202, 0.956), floralwhite, rgba(207, 206, 206, 0.956));
  background-color: #16151b;
  box-shadow: 0px 5px 30px 8px rgba(0, 0, 0, 0.537);
  border-radius: 10px;
  z-index: 1;
  max-width: 600px;
  width: 80%;
  /* margin: 0px 30px; */
}



.hiddenComputador,
.hiddenComponente {
  width: fit-content;
  display: flex;
}

.faixa {
  height: 35px;
  width: 100%;
  background-color: rgb(180, 32, 62);
  color: white;
  border: 2px solid rgb(180, 32, 62);
  font-size: 18px;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  align-items: center;
}

.faixa h3 {
  text-align: start;
  /* font-size: 18px; */
  font-weight: 400;
}

.hidden_confirmacao h2,
.hidden_form h2,
.hiddenComputador h2,
.hiddenComponente h2,
#hiddenComponente h2 {
  color: rgb(57, 57, 66) !important;
  text-align: left;
  font-size: 20px;
  font-weight: 500;
  padding: 0px 30px 10px 30px;
}

.hidden_form .faixa {
  margin-bottom: 30px;
}

label {
  font-size: 16px;
  color: black;
}

.hiddenComponente p,
.hidden_form p,
.container_maquina p {
  position: absolute;
  top: 10px;
  right: 15px;
  font-weight: 1000;

}

.ipt_form {
  /* outline: 1px solid red; */
  display: flex;
  flex-direction: column;
  text-align: left;
  color: #22252b;
  padding: 10px 30px 30px;
  gap: 12px;
}

.ipt_form input,
.left input,
.inputMaquinaChecked {
  padding: 13px;
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.397);
  color: black;
  background-color: #ffffff00;
}

.inputMaquinaChecked {
  width: 110px;
  text-align: center;
}

#mensagem_erro {
  color: red;
  font-size: 10px;
}

#table_wrapper {
  height: 500px;
  max-width: 1000px;
  width: 100%;
  overflow: auto;
  /* outline: 1px solid rgba(0, 0, 0, 0.116); */
  border-radius: 5px;
  margin: 70px auto 0;
  position: relative;
}

.xizinho {
  margin-top: -4px;
  cursor: pointer;
}

#table_wrapper::-webkit-scrollbar {
  width: 14px;
  /* background: none; */
}

/* #table_wrapper::-webkit-scrollbar-track {
  background: none;
} */

#table_wrapper::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.116);

  border-radius: 3px;
  /* background: none; */

}

/* .header {
  position: relative;
} */

.header th {
  background-color: #22252b;
  position: sticky;
  top: 0;
}

#cadastrar_usuario {
  display: block;
  color: floralwhite;
  background-color: rgb(194, 38, 69);
  border-radius: 5px;
  padding: 10px 20px;
  max-width: 120px;
  /* text-transform: uppercase; */
  letter-spacing: 0.2px;
  font-size: 13px;
  border: 0;
  background-color: none;
  /* box-shadow: inset 2px 2px 10px rgb(0 0 0 / 54%); */
  cursor: pointer;
  box-shadow: inset 2px 2px 10px rgba(0, 0, 0, 0.457);
  /* margin-top: 60px; */

}

#cadastrar_usuario:hover {
  box-shadow: outset 2px 2px 10px rgb(0, 0, 0);
  box-shadow: inset 2px 2px 10px rgba(0, 0, 0, 0);
}

.card {
  max-width: 250px;
  width: 100%;
  height: 200px;
  border-radius: 7px;
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: Mali;
  font-weight: 1000;
  color: rgba(36, 34, 42, 0.836);
  transition: background-image 0.27s;
  padding: 20px;
  transition: 0.2s;
  background-color: #2021275f;
  box-shadow: 8px 12px 15px 1px #13141882;
  position: relative;

}


.card__iniciais {
  background-color: rgb(45, 45, 71);
  border-radius: 5px;
  color: floralwhite;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  width: 40px;
  height: 40px;
  padding-top: 10px;
}

.white {
  display: flex;
  width: -webkit-fill-available;
  padding: 0;
  margin: 0;
  height: 100%;
  justify-content: center;
  border-radius: 5px;
  margin-top: 100px;
  position: fixed;
}

/* .content {
    padding-left: 198px !important;
  } */

.card__nome,
.card__nome--add {
  display: flex;
  flex-direction: row-reverse;
  gap: 15px;
  cursor: pointer;
  color: rgb(211, 211, 211);
}

.card__nome div {
  color: rgb(211, 211, 211);
  display: grid;
}

.card__nome:hover,
.card__nome--add:hover {
  color: rgba(255, 255, 255, 0.671);
}


.card__nome:hover .card__iniciais,
.card__nome--add:hover .card__iniciais {
  background-color: rgba(88, 88, 113, 0.84);
}


.card:hover {
  box-shadow: 1px 3px 6px 1px #131418f7;
}

.popup {
  cursor: pointer;
}

.popup--open {
  opacity: 1;
  width: 60%;
  height: auto;
  pointer-events: auto;
  top: -4%;
  left: 20%;
}

.cover {
  display: none;
  position: absolute;
  z-index: 1;
  background-color: rgba(23, 22, 27, 0.975);
  height: 100vh;
  width: 100vw;
  cursor: pointer;
}

.cover--open {
  display: block;
}

.html--scroll {
  overflow-y: clip !important;
}

.card__iniciais.add {
  font-size: 30px;
  padding-top: 3px;
}

@media (max-width: 500px) {
  .white {
    margin-top: 0;
    position: relative;
    width: 100%;
  }

  #hiddenComponente {
    margin-top: 62px;
  }

  .containerCheckedRAM {
    display: block;
    gap: 25px;
  }

  .body {
    overflow-y: hidden;
    overflow: hidden;
  }

  .content {
    min-height: auto !important;
  }

  .hidden_confirmacao h2,
  .hidden_form h2,
  .hiddenComputador h2,
  .hiddenComponente h2 {
    font-size: 18px;
  }

  .left {
    width: 330px;
  }
}

@media (max-width: 768px) {
  .botoes {
    align-self: center;
    padding-right: 0;
    gap: 10px;
  }
}

.alerta {
  position: absolute;
  width: 83px;
  height: 10px;
  bottom: 26px;
  border-radius: 10px;
  cursor: pointer;
}

.tooltip {
  opacity: 0;
  position: absolute;
  transition: 0.3s;
  opacity: 0;
  background-color: rgb(184, 184, 184);
  max-width: 300px;
  width: 100%;
  height: 170px;
  top: 67px;
  pointer-events: none;
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 7px;
}

.active-tooltip {
  opacity: 1 !important;
  position: absolute;
  transition: 0.3s;
  opacity: 0;
  background-color: rgb(184, 184, 184);
  max-width: 300px;
  width: 100%;
  height: 170px;
  top: 67px;
  pointer-events: visible;
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: center;
}

.infoTooltip {
  color: black;
  font-size: 20px;
}

.card__icons {
  align-self: flex-end;
}

.alerta-green {
  background-color: rgb(2, 164, 2);
}

.alerta-red {
  background-color: rgb(252, 65, 36);
}

.alerta-orange {
  background-color: rgb(255, 193, 36);
}

.tooltip-green {
  background-color: rgb(123, 199, 123);
}

.tooltip-red {
  background-color: rgb(209, 116, 116);
}

.tooltip-orange {
  background-color: rgb(241, 205, 132);
}

#hiddenComponente {}